.container {
    color: transparent;
    margin: 0 1.2rem 0 1.2rem;
}


.nav_principal {
    display: flex;
    justify-content: flex-end;
    border: #fff;
}

a {
    text-decoration: none;
    margin: 0.5rem;
}

.buttom-login {
    display: flex;
    margin: 1rem 3.5rem;
    color: #f9f9f9;
    background-color: rgba(0,0,0,.8);
    padding: 1rem 1.6rem;
    border-color: silver;
    border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
    align-items: flex-end;
    border: solid 0.1rem silver;
}

.buttom-login span {
    color: #f9f9f9;
    font-size: 1.8rem;
}