.img-termos img {
    width: 8rem;
    height: 4.3rem;
    display: block;
    margin-left: 45%;
}

.termos {
    padding: 4.9rem;
    padding-top: 1.5%;
    margin: 0.4rem 0 1.5rem;
    line-height: 2.2rem;
}

.language-selector {
    display: inline-block;
    margin: 0 8px;
    /* opacity: .6; */
    position: relative;
    margin: 0.8rem ;
    padding-left: 13%;
    padding-right: 10%;
}

#aa-baixo {
    margin-left: 40rem;
    padding-top: 2rem;
    padding-bottom: -1rem;
}

/* class-paragrafo {
    margin-left: -19rem;
} */

.language-selector a {
    /* display: flex; */
    color: #c0c0c0;
    font-size: 1.2rem;
    flex-direction: row;
    gap: 2rem;
    margin: 0.4rem 0 1.5rem;
    padding-left: 2%;
    margin-bottom: 10rem;
    padding-left: 3%;
}

#paragrafo {
    margin: 2%;
    padding-bottom: -1.31rem;
}

.language-selector p {
    font-size: 1.2rem;
    margin: 0 0 2rem;
    text-align: center;
    margin-right: 1%;
    
}



